# ShellCheck configuration file
# https://github.com/koalaman/shellcheck/wiki/Ignore

# Enable all optional checks
enable=require-variable-braces
enable=quote-safe-variables
enable=check-unassigned-uppercase

# Disable specific checks that are not relevant for this project
disable=SC2034  # Variable appears unused (may be used by GitHub Actions)
disable=SC1091  # Not following sourced files (not applicable)

# Set shell dialect
shell=bash

# External sources (if any)
# source-path=SCRIPTDIR